<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>

    <ion-buttons slot="end">
      <ion-button position="primary" href="src/app/members/settings">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  
  
    
    
  

  <div>
    <ion-label >Fischer App</ion-label>
    <ion-input class="username" placeholder="Username"></ion-input>
    <ion-input type="password" class="password" placeholder="Password"></ion-input>

  </div>

  <ion-button  expand="block" color="danger" class="buttons">LOGIN</ion-button>
  <ion-button expand = "block"  class="buttons" color ="light" href="/register" routerDirection="forward">Register</ion-button>
  
</ion-content>