<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Username <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
    </ion-item>
    
    <ion-button expand="block">Login</ion-button>
  </ion-list>
 
</ion-content>
