<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-button href="members/dashboard" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--General settings with dropdown list-->
  <ion-list>
    <ion-list-header>
      <ion-label>General</ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label class="sub">Level</ion-label>
      <ion-select placeholder="">
        <ion-select-option value="a">Beginner</ion-select-option>
        <ion-select-option value="b">Advanced</ion-select-option>
        <ion-select-option value="c">Professional</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label class="sub">Country</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="ch">Switzerland</ion-select-option>
        <ion-select-option value="de">Germany</ion-select-option>
        <ion-select-option value="it">Italy</ion-select-option>
        <ion-select-option value="fr">France</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label class="sub">Water Type</ion-label>
      <ion-select multiple="true" [value]="[]">
        <ion-select-option value="salt">Salt Water</ion-select-option>
        <ion-select-option value="fresh">Fresh Water</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="sub">View Mode</ion-label>
      <ion-select  okText="Okay" cancelText="Dismiss">
        <ion-select-option value="com">Compact</ion-select-option>
        <ion-select-option value="ext">Expanded</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


<!--Advanced settings with toggle buttons-->
  <ion-list>
    <ion-list-header>
      <ion-label>
        Advanced
      </ion-label>
    </ion-list-header>

  <ion-item>
    <ion-label class="sub">Allow Notifications</ion-label>
    <ion-toggle [(ngModel)]="notification" disabled="false"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label class="sub">Show Geolocation</ion-label>
    <ion-toggle [(ngModel)]="geolocation" disabled="false"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label class="sub">Hide Advertisements</ion-label>
    <ion-toggle [(ngModel)]="advertisment" disabled="false"></ion-toggle>
  </ion-item>

</ion-list>


</ion-content>
