<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-tab-button  tab="dashboard">
      <ion-icon name="images"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>General</ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label class="sub">Level</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="a">Beginner</ion-select-option>
        <ion-select-option value="b">Advanced</ion-select-option>
        <ion-select-option value="c">Professional</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label class="sub">Country</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="ch">Switzerland</ion-select-option>
        <ion-select-option value="de">Germany</ion-select-option>
        <ion-select-option value="it">Italy</ion-select-option>
        <ion-select-option value="fr">France</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label class="sub">Water Type</ion-label>
      <ion-select multiple="true" [value]="['bird', 'dog']">
        <ion-select-option value="exp">Expanded</ion-select-option>
        <ion-select-option value="com">Compact</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="sub">View Mode</ion-label>
      <ion-select  okText="Okay" cancelText="Dismiss">
        <ion-select-option>Compact</ion-select-option>
        <ion-select-option>Expanded</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>



  <ion-list>
    <ion-list-header>
      <ion-label>
        Advanced
      </ion-label>
    </ion-list-header>

  <ion-item>
    <ion-label class="sub">Allow Notifications</ion-label>
    <ion-toggle [(ngModel)]="notification" disabled="false"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label class="sub">Show Geolocation</ion-label>
    <ion-toggle [(ngModel)]="geolocation" disabled="false"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label class="sub">Hide Advertisements</ion-label>
    <ion-toggle [(ngModel)]="advertisment" disabled="false"></ion-toggle>
  </ion-item>

</ion-list>


</ion-content>
